html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "banner banner"
  "col1 col2"
  "col 1 col2";
  gap: 1rem;
}
